/.mypy_cache
/2283
/2284
/2286
/2287
/2288
/2289
/2290
/2291
/2296
/2301
/240503_131936.centroid.n=940
/240503_133109.centered_instance.n=940
/2478
/2479
/2480
/2481
/2513
/2514
/2515
/2537
/2539
/2542
/Arena_Map_C6.jpg
/Arena_Map_C7.jpg
/best_svm_model.pkl
/cleaned_dataframe.csv
/Features.docx
/interaction
/Interactive - seconds_info_scatter.py.ipynb
/Interactive - speed_average_interaction.py.ipynb
/Interactive-location.ipynb
/iris_two_species.csv
/labels.v001.slp
/labels.v002.slp
/literatur
/models
/model_td_grayscale_coh_7_2513_session1.predictions copy.slp
/output_data
/predictions
/progress predicting
/raw data
/single
/skeleton.json
/sleap_analysis_v38.yaml
/test_labels.v001.slp
/videos_mp4
/videos_mpg
/__pycache__